*{
    margin: 0px;
    padding: 0px;
}
#numbers{
    margin: auto;
    width: 188px;
    height: auto;
    margin-top: 10px;

}
#numbers input{
    margin: 2px;
    width: 40px;
    height: 40px;
    font-size: 30px;
}
#inputDiv{
    margin: auto;
    width: 184px;
    height: 40px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 30px;
}
#input{
    margin: auto;
    width: 184px;
    height: 40px;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 30px;
    text-align: right;
}

#deleteC{
    width:88px !important;
    color: rgb(255, 145, 0);
}
#deleteB{
    width:88px !important;
    color: red;
}
#esittir{
    width:88px !important;
    color: green;
}